<% provide(:title, "Home") %>
<body>
<div id='app'>
  <v-calendar></v-calendar>
  <v-date-picker mode="date" v-model="date" />
  
</div>

<!-- 1. Link Vue Javascript -->
<script src='https://unpkg.com/vue/dist/vue.js'></script>

<!-- 2. Link VCalendar Javascript (Plugin automatically installed) -->
<script src='https://unpkg.com/v-calendar'></script>

<!--3. Create the Vue instance-->


<script>
  new Vue({
    el: '#app',
    data() {
      return {
        date: new Date(),
      }
    }
  })
</script>
</body>