<% provide(:title, "Home") %>
<body>
  <div id='app'>
    <v-date-picker mode="date" v-model="date" />
      <template v-slot="{ inputValue, inputEvents }">
        <input
          class="bg-white border px-2 py-1 rounded"
          :value="inputValue"
          v-on="inputEvents"
        />
      </template>
    </v-date-picker>
    <%= javascript_pack_tag 'hello_vue.js' %>
    <div id='vue-app'></div>
  </div>
  <!-- 1. Link Vue Javascript -->
  <script src='https://unpkg.com/vue/dist/vue.js'></script>

  <!-- 2. Link VCalendar Javascript (Plugin automatically installed) -->
  <script src='https://unpkg.com/v-calendar'></script>

  <!--3. Create the Vue instance-->

  <script>
    new Vue({
      el: '#app',
        data() {
        return {
          date: new Date(),
        }
      }
    })
  </script>
</body>
